.container-library-page{
    border-bottom: 1 px solid grey;
    padding: 1rem 2rem;
    color: aliceblue;
    background-color: black;
    height:auto;
    width: 100vw;
}

.title-container-page{
    margin: 0.5rem 4rem;
}

.title-container-page b{
    margin: auto 0.5rem;
    padding: auto 0.5rem;
    font-size: medium;
}

.videoList-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
}

