.container-pages-app{
    display: flex;
    width: calc(100vw- 4.7rem);
}

.navigation-home{
    display: flex;
    width: calc(100vw - 4.5rem);
    background-color: rgb(37,37,37);
    color:white;
    overflow-x: auto;
    border-bottom: 2px solid rgb(128,128,128,0.27);
}

.home-nav-btn{
    display: flex;
    background-color: rgb(46,46,46);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border-bottom   : 2px solid rgb(128,128,128,0.27);
}
.home-nav-btn:hover{
    scale: 1.2;
    cursor: pointer;
}