.create-edit-channel-container{
    background-color: rgba(0, 0, 0, 0.697);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
}
.create-edit-channel-container2{
    margin: auto;
    background-color: rgba(55,57,67,0.293);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 30rem;
    padding: 0.8rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px white,-2px 2px white;
}
.create-edit-channel-container2 h1{
    text-decoration: underline;
    color: whitesmoke;
}
.create-edit-channel-container2 input,
.create-edit-channel-container2 textarea
{
    color: aliceblue;
    resize: none;
    padding: 0.3rem;
    border: 2px solid rgb(137,243,250);
}
.create-edit-channel-container2 input{
    color: black;
}
.i-btn,
.i-box{
    font-size: 1rem;
    padding: 0.2rem;
    background-color: transparent;
    color: black;
    border-radius: 0.2rem;
    margin: 0.2rem;
    font-weight: bold;
}
.i-btn{
    background-color: rgb(28, 28, 28);
    transition: 2s all ;
}
.i-btn:hover{
    color: orange;
    background-color: black;
}
.i-btn-x{
    border: 0;
    padding: 0;
    color: white;
    background-color: transparent;
    font-size: 5rem;
    right: 50px;
    cursor: pointer;
    position: absolute;
transition: 1s color;
}

.i-btn_x:hover{
    color: orange;
}